.cards-news > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.cards-news > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards-news .cards-news-card-body {
  margin: 16px;
}

.cards-news .cards-news-card-image {
  line-height: 0;
}

.cards-news > ul > li img {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

/* Sidebar layout on article pages */
@media (width >= 900px) {
  .cards-news-wrapper {
    float: right;
    width: 33%;
    margin-left: 32px;
    margin-bottom: 16px;
  }
}
